.nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    position: absolute;
    
}

.right, .left{
 height: 100%; 
 width: 50%;
 display: flex;
 align-items: center;

 
}

.left{
    background-color: rgb(255, 255, 255);
    color: black;
    padding-left: 125px;
    padding-right: 50px;
    justify-content: space-between;
}

.right{
    background-color: rgba(58, 58, 58, 0.4);
    color: rgb(255, 240, 240);
    justify-content: space-around;
     
}

.nav_link{
    display: flex;
    align-items: center;
    gap: 50px;
    
}
.link{
    transition: all .3s linear;
}
.link:hover{
    cursor: pointer;
    transform: rotateZ(-3deg);
    text-shadow: 1px 2px 2px rgb(255, 0, 0);   
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
}
.theme{
    font-size: 3rem;
    color: yellow;

    cursor: pointer;
}
