.blogs{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-right: 2px;
    gap: 15px;
}
.blog_post{
    flex-shrink: 0;
    cursor: pointer;
    height: 125px;
    width: 100%;
    background-color: white;
    border: 2px solid black;
    display: flex;
    gap: 20px;
}
.blog_image{
    width: 150px;
    border-right: 1px solid black;
}
.blog_info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* width */
.blogs::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .blogs::-webkit-scrollbar-track {
    background: #222;
  }
  
  /* Handle */
  .blogs::-webkit-scrollbar-thumb {
    background: #ff0000;
  }
  
  /* Handle on hover */
  .blogs::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
  }