.home{
  display: flex;
  min-height: 100vh;
}
.right{
  flex: 2;
  background: url('portfolio.gif');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -99;
}
.left{
  padding-left: 125px;
  flex: 1;
  margin-top: 120px;
}
.top{
  display: flex;
  gap: 100px;
}
.social{
  display: flex;
  align-items: center;
  gap: 10px;
}
.star_icon{
  font-size: 3rem;
  color: #cccccc;
}

.social_icon{
  font-size: 2.5rem;
  color: #cccccc;
}
.welcome{
  display: inline-block;
  font-size: 1.1rem;
  margin: 1rem 0;
  padding: .1rem;
  font-weight: 700;
  position: relative;

}
.welcome::before{
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  z-index: -98;
}
.intro{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.intro_para{
  font-weight: 700;
  font-size: 2rem;
}
.button{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 20px;
}
.cv{
  color: white;
  font-weight: 500;
  padding: 1rem 10px;
  background-color: #354dea;
  cursor: pointer;
}
.download_icon{
  font-size: 1.3rem;
}
.contact{
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;

}
.info{
  text-align: justify;
  margin-top: 1rem;
  padding-right: 80px;
  line-height: 1.5rem;
  font-size: 1.1rem;
}
.explore{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.green{
  height: 7px;
  width: 7px;
  background-color: #5ae717;
  border-radius: 50%;
}
.arrow{
  font-size: 2rem;

}
.explore_btn{
  padding-left: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: underline;
}

